*{font-family:sans-serif;}

#settings {
   display: block;
   text-align:center;
   margin-top: 2%;
 }


#paint {
  border: 10px solid #def2fc;
  background : #fff4fa;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10%;
}
