#container{
  width:1350px;
  height:790px;
  background-color:white;
  margin:auto;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  position:fixed;
}

#container nav{
  position:relative;
  top:30px;
  left:30px;
  width:600px;
}

#container nav a{
  color:#5DA4E5;
  padding:10px;
  display:inline-block;
  margin-bottom: 4px;
  font-family: avenir;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

#container nav a:hover{
color:#B9EDF4
}
#container nav a:active{
  color:#pink;
}
#container nav a:visited{
color:#B9EDF4;
}
#container h1{
  position:absolute;
  font-family: arial black;
  font-size: 50px;
  margin-left: 1100px;
  margin-top: -36px;
  color:#5DA4E5;
}

#side{
  width:250px;
  height:660px;
  border-right:2px solid #5DA4E5;
  float:left;
}

#link{
  width:200px;
  height:360px;
  padding-left: 20px;
  margin-left: 30px;
  padding-top: 13px;

}

.dropbtn {
    background-color: white;
    color:#5DA4E5;
    padding: 20px;
    font-size: 16px;
    border:none;
    cursor:pointer;
    font-family: avenir;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #f9edee;
    z-index: 1;
}

.dropdown-content a {
    color: #5DA4E5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;

}

.dropdown-content a:hover {background-color:#edf9f9}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f9edee;
}

#note{
  width:140px;
  height: 311px;
  margin-left: 62px;
  margin-top: 5px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #5DA4E5;
  color:white;
}

#note p{
  font-family: avenir;
  font-size: 14px;
  line-height: 1.7em;
  font-style: italic;
}

#top{
  border-bottom:2px solid #5DA4E5;
  height:85px;
}

#wrapper{
  float:left;
  height:660px;
  width:960px;
  margin-top: -680px;
  margin-left: 320px;
}

#ingredient{
  height:450px;
  width:770px;
}

#ingredient img{
  height:450px;
  width:auto;
  padding-left: 20px;
  padding-top: 20px;
  float: left;
}

#ingredient h2{
  /*margin-left: 220px;
  margin-top: -320px;*/
  position:absolute;
  font-family: arial black;
  font-size: 40px;
  color: #5DA4E5;
  float: left;
  margin-left: 200px;
  margin-top: 100px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#ingredient p{
  /*margin-left: 350px;
  margin-top: -180px;*/
  font-size: 14px;
  font-family: avenir;
  line-height: 1.5em;
  color:grey;
  letter-spacing: 1.5px;
  float: left;
  margin-left: 50px;
  margin-top: 300px;
}

#recipe{
  width:960px;
  height:300px;

}

#recipe p{
  padding-left: 20px;
  padding-top: 40px;
  font-size: 16px;
  font-family: avenir;
  line-height: 1.5em;
  color:grey;

  /*float: left;*/
}
#note1{
  margin-left: 1000px;
  margin-top: -680px;
  width:400px;
  height:500px;
  position: absolute;

}
#note1 img{
  width:300px;
  height:600px;
  opacity: 0.1;
  position: absolute;

}
ol{
  list-style-type: none;
  position: absolute;
  margin-top: 153px;
  margin-left: 20px;

}
li a{
  text-decoration: none;
  line-height: 2.5em;
  color:gray;
  font-family: avenir;

}
ol li{
  list-style-type: none;
}
/*#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    margin-left: 850px;
    margin-top: -600px;
}
#drag1{
  width:100px;
  height:auto;
  margin-left: 850px;
  margin-top: -500px;
}*/
