#container{
  width:1350px;
  height:790px;
  background-color:white;
  margin:auto;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  position:fixed;
}

#container nav{
  position:relative;
  top:30px;
  left:30px;
  width:600px;
}

#container nav a{
  color:#5DA4E5;
  padding:10px;
  display:inline-block;
  margin-bottom: 4px;
  font-family: avenir;
  font-size: 18px;
  text-decoration: none;
}

#container nav a:hover{
color:#B9EDF4
}
#container nav a:active{
  color:#pink;
}
#container nav a:visited{
color:#B9EDF4;
}
#container h1{
  position:absolute;
  font-family: arial black;
  font-size: 50px;
  margin-left: 1100px;
  margin-top: -36px;
  color:#5DA4E5;
}
