*{
  box-sizing: border-box;
}
h1{
  font-family: verdana;
  font-size: 200%;

}

.text{
  margin-left: 150px;
  margin-right: 150px;
  font-family:Avenir;
  font-size:80%;
}

img{
  border:2px solid #f0f0f5;
  padding:2px;
  transition:padding 0.5s;
  opacity:0.7;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    padding:5px;
}
.container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-size: 30px;
    color:white;
    font-family: verdana;
}
a:link {
  color:white;
}
a:visited{
  color:#c6d9ec;
}
a:hover{
  color:lightpink;
}
a:active{
  color:#ccffff;
}
